<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--====== Title ======-->
    <title>Seylon - Classified Ads HTML Template.</title>
    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="assets/images/favicon.png"
      type="image/png"
    />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <!--====== Jquery ui css ======-->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css" />
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <!--====== PRELOADER PART START ======-->
    <div class="preloader"><div class="load"></div></div>
    <!--====== PRELOADER PART ENDS ======--><!--====== HEADER PART START ======-->
    <section class="header-area">
      <div class="header-top header-top-2">
        <div class="container">
          <div
            class="header-top-wrapper d-flex justify-content-center justify-content-md-between align-items-center"
          >
            <div class="header-top-left d-none d-md-block">
              <ul class="header-meta">
                <li>
                  <a href="#"><i class="fal fa-phone"></i>+88 018 522 369 36</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fal fa-envelope"></i>info.seylon@gmail.com</a
                  >
                </li>
              </ul>
            </div>
            <div class="header-top-right">
              <div class="header-follow d-flex align-items-center">
                <ul class="social">
                  <li><span>Follow Us:</span></li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
                <ul class="header-login">
                  <li>
                    <a href="sign-in.html"
                      ><i class="fal fa-sign-in-alt"></i>Sign In</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu header-menu-1">
        <div class="horizontal-header d-lg-none">
          <div class="container">
            <div
              class="horizontal-header d-flex justify-content-between align-items-center"
            >
              <a
                href="javascript:void(0)"
                id="horizontal-navtoggle"
                class="navtoggle"
                ><i class="fal fa-bars"></i></a
              ><span class="smllogo"
                ><img
                  src="assets/images/logo.png"
                  alt="logo"
                  width="120" /></span
              ><a href="" class="callusbtn"
                ><i class="fal fa-phone" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="horizontal-main">
          <div class="container">
            <div
              class="horizontal-wrapper d-flex justify-content-between align-items-center"
            >
              <div class="desktoplogo">
                <a href="index.html"
                  ><img src="assets/images/logo.png" alt="logo"
                /></a>
              </div>
              <!--Nav-->
              <nav class="horizontalMenu">
                <ul class="horizontalMenu-list">
                  <li class="active" aria-haspopup="true">
                    <a href="index.html"
                      >Home <i class="fal fa-chevron-down"></i
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="index.html" class="active">Home 01</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-2.html">Home 02</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-3.html">Home 03</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-4.html">Home 04</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="index-5.html">Home 05</a>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true">
                    <a href="about.html">About Us </a>
                  </li>
                  <li class="position-static" aria-haspopup="true">
                    <a href="#">Pages <i class="fal fa-chevron-down"></i></a>
                    <div class="horizontal-megamenu">
                      <div class="container">
                        <div class="megamenu-content">
                          <div class="row">
                            <ul class="link-list">
                              <li class="title">Home pages</li>
                              <li><a href="index.html">Home 01</a></li>
                              <li><a href="index-2.html">Home 02</a></li>
                              <li><a href="index-3.html">Home 03</a></li>
                              <li><a href="index-4.html">Home 04</a></li>
                              <li><a href="index-5.html">Home 05</a></li>
                            </ul>
                            <ul class="link-list">
                              <li class="title">Custom pages</li>
                              <li><a href="caategory.html">Caategory</a></li>
                              <li><a href="ads-grid.html">Ads Grid</a></li>
                              <li><a href="ads-grid-left.html">Ads Left</a></li>
                              <li>
                                <a href="ads-grid-right.html">Ads Right</a>
                              </li>
                              <li>
                                <a href="ads-details.html">Ads Details</a>
                              </li>
                            </ul>
                            <ul class="link-list">
                              <li>
                                <a href="seller-author-list.html"
                                  >Seller Author</a
                                >
                              </li>
                              <li>
                                <a href="se1ller-author-list.html"
                                  >Seller Author List</a
                                >
                              </li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="faq.html">FAQ</a></li>
                              <li>
                                <a href="how-it-work.html">How It Work</a>
                              </li>
                            </ul>
                            <ul class="link-list">
                              <li class="title">User Pages</li>
                              <li><a href="dashboard.html">Dashboard</a></li>
                              <li><a href="profile.html">Profile</a></li>
                              <li><a href="my-ads.html">My Ads</a></li>
                              <li><a href="my-favorite.html">Favorite</a></li>
                              <li><a href="manged.html">Manged</a></li>
                            </ul>
                            <ul class="link-list">
                              <li><a href="payments.html">Payments</a></li>
                              <li>
                                <a href="change-password.html"
                                  >Change Password</a
                                >
                              </li>
                              <li><a href="sign-in.html">Sign In</a></li>
                              <li><a href="sign-up.html">Sign Up</a></li>
                              <li><a href="ad-posts.html">Ad Posts</a></li>
                              <li><a href="#">Classifieds List</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li aria-haspopup="true">
                    <a href="blog-archive.html"
                      >Blog <i class="fal fa-chevron-down"></i
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="blog-archive.html"
                          >Blog<i
                            class="fal fa-angle-right d-none d-lg-block"
                          ></i
                        ></a>
                        <ul class="sub-menu">
                          <li aria-haspopup="true">
                            <a href="blog-archive.html">Blog Archive</a>
                          </li>
                          <li aria-haspopup="true">
                            <a href="blog-grid.html">Blog Grid</a>
                          </li>
                          <li aria-haspopup="true">
                            <a href="blog-grid.html">Blog Right</a>
                          </li>
                        </ul>
                      </li>
                      <li aria-haspopup="true">
                        <a href="blog-details.html">Blog Details</a>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true">
                    <a href="contact.html"
                      >Contact Us <span class="wsarrow"></span
                    ></a>
                  </li>
                  <li aria-haspopup="true" class="d-lg-none">
                    <a class="main-btn" href="ad-posts.html">Post Free Ad</a>
                  </li>
                </ul>
              </nav>
              <div class="horizontal-btn d-none d-lg-block">
                <a href="#" class="main-btn">Post Free Ads</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== HEADER PART ENDS ======--><!--====== PAGE BANNER PART START ======-->
    <section class="page-banner">
      <div class="container">
        <div class="page-banner-content text-center">
          <h4 class="title">Ads Details</h4>
          <p>Search from over 2000+Active Ads in 29+Categories for Free</p>
        </div>
      </div>
    </section>
    <!--====== PAGE BANNER PART ENDS ======--><!--====== GET SEARCH FORM PART START ======-->
    <section class="get-search-area">
      <div class="container">
        <form action="#">
          <div class="get-search-form search-form-bg d-flex flex-wrap">
            <div class="single-form">
              <input type="text" placeholder="Looking For Classified -" />
            </div>
            <div class="single-form">
              <select>
                <option value="0">Select Location -</option>
                <option value="1">Dhaka</option>
                <option value="2">Chittagong</option>
                <option value="3">Khulna</option>
                <option value="4">Rajshahi</option>
                <option value="5">Dinajpur</option>
                <option value="6">Rangpur</option>
                <option value="7">Sylhet</option>
                <option value="8">Sylhet</option>
              </select>
            </div>
            <div class="single-form">
              <input type="text" placeholder="Enter Keyword Hare -" /><button>
                <i class="fal fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!--====== GET SEARCH FORM PART ENDS ======--><!--====== ADS DETAILS PART START ======-->
    <section class="ads-details-page pt-70">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="ads-details pt-20">
              <div class="row">
                <div class="col-md-7">
                  <div class="ads-details-image mt-30">
                    <div class="details-image">
                      <div class="single-details-image">
                        <img src="assets/images/ads-1.png" alt="ads" />
                      </div>
                      <div class="single-details-image">
                        <img src="assets/images/ads-2.png" alt="ads" />
                      </div>
                      <div class="single-details-image">
                        <img src="assets/images/ads-3.png" alt="ads" />
                      </div>
                      <div class="single-details-image">
                        <img src="assets/images/ads-4.png" alt="ads" />
                      </div>
                      <div class="single-details-image">
                        <img src="assets/images/ads-5.png" alt="ads" />
                      </div>
                    </div>
                    <div class="details-image-thumb">
                      <div class="single-details-image-thumb">
                        <img src="assets/images/ads-1.png" alt="ads" />
                      </div>
                      <div class="single-details-image-thumb">
                        <img src="assets/images/ads-2.png" alt="ads" />
                      </div>
                      <div class="single-details-image-thumb">
                        <img src="assets/images/ads-3.png" alt="ads" />
                      </div>
                      <div class="single-details-image-thumb">
                        <img src="assets/images/ads-4.png" alt="ads" />
                      </div>
                      <div class="single-details-image-thumb">
                        <img src="assets/images/ads-5.png" alt="ads" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="ads-details-content mt-30">
                    <h4 class="title">
                      POM GEAR Pro2Go P-ONE Bluetooth Noise-Cancelling Earbuds
                    </h4>
                    <ul class="rating">
                      <li class="active"><i class="far fa-star"></i></li>
                      <li class="active"><i class="far fa-star"></i></li>
                      <li><i class="far fa-star"></i></li>
                      <li><i class="far fa-star"></i></li>
                      <li><i class="far fa-star"></i></li>
                    </ul>
                    <p class="reviews">
                      <strong>Interested:05</strong>564 Reviews(S)
                    </p>
                    <div
                      class="price-stock d-flex flex-wrap align-items-center"
                    >
                      <p class="price">$900 <del>$999</del></p>
                      <p class="stock"><span>Availability:</span>IN STOCK</p>
                    </div>
                    <p class="text">
                      Nulla in lacus at nibh suscipit placerat. Pellentesque
                      efficitur molestie velit ac pharetra. Sed accumsan augue
                      nunc,ac hendrerit tortor egestas nec.
                    </p>
                    <div class="ads-details-wrapper">
                      <div class="share">
                        <ul class="social">
                          <li><span class="title">Share:</span></li>
                          <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                          </li>
                        </ul>
                      </div>
                      <div class="ads-details-contact">
                        <h6 class="title">Contact:</h6>
                        <div
                          class="ads-details-contact-wrapper d-flex flex-wrap align-items-center mt-20"
                        >
                          <div class="contact-btn">
                            <a href="#">(+99) 123 000 XXXX</a>
                            <p>Show Phone Number</p>
                            <i class="fal fa-phone"></i>
                          </div>
                          <div class="ads-details-message">
                            <a href="#"
                              ><i class="fal fa-envelope-open-text"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Product-tab mt-50">
              <ul class="nav" id="myTab" role="tablist">
                <li>
                  <a
                    class="active"
                    id="description-tab"
                    data-toggle="tab"
                    href="#description"
                    role="tab"
                    aria-controls="description"
                    aria-selected="true"
                    >description</a
                  >
                </li>
                <li>
                  <a
                    id="comments-tab"
                    data-toggle="tab"
                    href="#comments"
                    role="tab"
                    aria-controls="comments"
                    aria-selected="false"
                    >comments</a
                  >
                </li>
                <li>
                  <a
                    id="review-tab"
                    data-toggle="tab"
                    href="#review"
                    role="tab"
                    aria-controls="review"
                    aria-selected="false"
                    >review</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="description"
                  role="tabpanel"
                  aria-labelledby="description-tab"
                >
                  <div class="Product-tab-cont">
                    <p>
                      MOVIE STAR – Online Movie,Video & TV Show PSD Template is
                      a the best design for 2017. any kinds of online video
                      Template Based on Bootstrap,12 column Responsive grid
                      Template. “MOVIE STAR” is a smooth and colorful online
                      video PSD Template,perfect suitable for,Businesses or
                      Personal One page Template. It includes everything you
                      need for the website development such as online
                      Movie,Video & TV Show Template .PSD files are well
                      organized also you can customize very easy . we have
                      include 21 psd file for you. Please,don’t forget to leave
                      a stars rating for this Template!<br />MOVIE STAR – Online
                      Movie,Video & TV Show PSD Template is a the best design
                      for 2017. any kinds of online video Template Based on
                      Bootstrap,12 column Responsive grid Template. “MOVIE STAR”
                      is a smooth and colorful online video PSD Template,perfect
                      suitable for,Businesses or Personal One page Template. It
                      includes everything you need for the website development
                      such as online Movie,Video & TV Show Template.
                    </p>
                    <h6>Item Features:</h6>
                    <ul class="product_tab_list">
                      <li>Perfect unique design</li>
                      <li>Fully responsive</li>
                      <li>Amazing parallax effects</li>
                      <li>SEO friendly</li>
                      <li>Well organized and valid code</li>
                      <li>Google fonts</li>
                      <li>WPML ready</li>
                    </ul>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="comments"
                  role="tabpanel"
                  aria-labelledby="comments-tab"
                >
                  <div class="comment">
                    <ul>
                      <li>
                        <div class="singel-comment d-md-flex align-items-end">
                          <div class="thum">
                            <img
                              src="assets/images/author-2.jpg"
                              alt="Comment"
                            />
                          </div>
                          <div class="cont media-body">
                            <h6 class="author_name">Kosmi Kotalia</h6>
                            <p>
                              There are many variations of passages of Lorem
                              Ipsum available,but the majority have suffered
                              alteration in some form,by injected humour,or
                              randomised words which.
                            </p>
                            <ul>
                              <li><a href="#">Repost</a></li>
                              <li><a href="#">Reply</a></li>
                              <li>
                                <a href="#"
                                  ><i class="fa fa-clock-o"></i>39 minits ago</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                        <ul class="replay">
                          <li>
                            <div
                              class="singel-comment d-md-flex align-items-end"
                            >
                              <div class="thum">
                                <img
                                  src="assets/images/author-3.jpg"
                                  alt="Comment"
                                />
                              </div>
                              <div class="cont media-body">
                                <h6 class="author_name">Kosmi Kotalia</h6>
                                <p>
                                  There are many variations of passages of Lorem
                                  Ipsum available,but the majority have suffered
                                  alteration in some form,by injected humour,or
                                  randomised words which.
                                </p>
                                <ul>
                                  <li><a href="#">Repost</a></li>
                                  <li><a href="#">Reply</a></li>
                                  <li>
                                    <a href="#"
                                      ><i class="fa fa-clock-o"></i>39 minits
                                      ago</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="singel-comment d-md-flex align-items-end">
                          <div class="thum">
                            <img
                              src="assets/images/author-4.jpg"
                              alt="Comment"
                            />
                          </div>
                          <div class="cont media-body">
                            <h6 class="author_name">Kosmi Kotalia</h6>
                            <p>
                              There are many variations of passages of Lorem
                              Ipsum available,but the majority have suffered
                              alteration in some form,by injected humour,or
                              randomised words which.
                            </p>
                            <ul>
                              <li><a href="#">Repost</a></li>
                              <li><a href="#">Reply</a></li>
                              <li>
                                <a href="#"
                                  ><i class="fa fa-clock-o"></i>39 minits ago</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="review"
                  role="tabpanel"
                  aria-labelledby="review-tab"
                >
                  <div class="review">
                    <ul>
                      <li>
                        <div class="singel-review">
                          <div class="review-thum">
                            <div class="review-img">
                              <img
                                src="assets/images/author-1.jpg"
                                alt="Review"
                              />
                            </div>
                            <div class="review-head pl-20">
                              <h6 class="author_name">Kosmi Kotalia</h6>
                              <span>Australia</span>
                            </div>
                          </div>
                          <div class="date"><span>Jan- 15 - 2020</span></div>
                          <div class="review-cont">
                            <p>
                              There are many variations of passages of Lorem
                              Ipsum available,but the majority have suffered
                              alteration in some form,by injected humour,or
                              randomised words which.
                            </p>
                            <div class="rating">
                              <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                              </ul>
                              <span>/ 4 Star</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="singel-review">
                          <div class="review-thum">
                            <div class="review-img">
                              <img
                                src="assets/images/author-2.jpg"
                                alt="Review"
                              />
                            </div>
                            <div class="review-head pl-20">
                              <h6 class="author_name">Kosmi Kotalia</h6>
                              <span>Australia</span>
                            </div>
                          </div>
                          <div class="date"><span>Jan- 15 - 2020</span></div>
                          <div class="review-cont">
                            <p>
                              There are many variations of passages of Lorem
                              Ipsum available,but the majority have suffered
                              alteration in some form,by injected humour,or
                              randomised words which.
                            </p>
                            <div class="rating">
                              <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                              </ul>
                              <span>/ 4 Star</span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="reviwe-form mt-25">
                    <h3 class="form_title">Write a review</h3>
                    <form action="#">
                      <div class="form-box">
                        <input type="text" placeholder="Your Name" />
                      </div>
                      <div class="form-box">
                        <textarea placeholder="Your Review"></textarea>
                      </div>
                      <div class="note">
                        <p><span>Note:</span>HTML is not translated!</p>
                      </div>
                      <div class="rating">
                        <span>Rating</span>
                        <ul>
                          <li>Bad</li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>Good</li>
                        </ul>
                      </div>
                      <button type="button">Continue</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ads-sidebar pt-20">
              <div class="sidebar-seller mt-25">
                <div class="ads-sidebar-title">
                  <h4 class="title">Seller Infaormatio</h4>
                </div>
                <div class="single-seller-author mt-25">
                  <div class="seller-author-wrapper d-flex">
                    <div class="author-image">
                      <img src="assets/images/author-1.jpg" alt="author" />
                    </div>
                    <div class="author-content media-body">
                      <h5 class="author-name"><a href="#">Immamul Papan</a></h5>
                      <span class="online">Online</span
                      ><a href="#" class="follow">Follow Us</a>
                    </div>
                  </div>
                  <div class="seller-about">
                    <h5 class="title">About</h5>
                    <p>
                      I am Towkibur Rahman. I am a Diploma Engineer. I am All
                      categorys PSD designer . i have 3 years experience about
                      Multipurpose theme .
                    </p>
                  </div>
                  <div class="seller-wrapper d-flex align-items-center mt-30">
                    <div class="author-btn">
                      <a href="#">(+99) 123 000 XXXX</a>
                      <p>Show Phone Number</p>
                      <i class="fal fa-phone"></i>
                    </div>
                    <div class="author-message">
                      <a href="#"><i class="fal fa-envelope-open-text"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-category mt-30">
                <ul class="list">
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-1.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Automotive</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-2.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Electronics</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-3.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Fashion Style</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-4.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Health Care</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-5.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Joba Board</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-6.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Education</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-7.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Real Estate</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-8.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Traveler</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><div
                        class="single-list-category d-flex justify-content-between align-items-center"
                      >
                        <div class="category-icon">
                          <img src="assets/images/icon/ctg-9.png" alt="icon" />
                        </div>
                        <div class="category-text">
                          <h6 class="title">Sports & Games</h6>
                          <p>ads 09</p>
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="sidebar-ads mt-25">
                <div class="ads-sidebar-title">
                  <h4 class="title">Popular Ads</h4>
                </div>
                <div class="single-popular-ads d-flex mt-30">
                  <div class="ads-thumb">
                    <a href="#"
                      ><img src="assets/images/ads-11.png" alt="ads"
                    /></a>
                  </div>
                  <div class="ads-content media-body">
                    <h6 class="title"><a href="#">Dowed electric mot</a></h6>
                    <p>
                      <i class="fal fa-map-marker-alt"></i>Louis,Missouri,US
                    </p>
                    <div
                      class="price-rating d-flex align-items-center justify-content-between"
                    >
                      <span class="price">$13.00</span>
                      <ul class="rating">
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="single-popular-ads d-flex mt-30">
                  <div class="ads-thumb">
                    <a href="#"
                      ><img src="assets/images/ads-12.png" alt="ads"
                    /></a>
                  </div>
                  <div class="ads-content media-body">
                    <h6 class="title"><a href="#">Dowed electric mot</a></h6>
                    <p>
                      <i class="fal fa-map-marker-alt"></i>Louis,Missouri,US
                    </p>
                    <div
                      class="price-rating d-flex align-items-center justify-content-between"
                    >
                      <span class="price">$13.00</span>
                      <ul class="rating">
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="single-popular-ads d-flex mt-30">
                  <div class="ads-thumb">
                    <a href="#"
                      ><img src="assets/images/ads-9.png" alt="ads"
                    /></a>
                  </div>
                  <div class="ads-content media-body">
                    <h6 class="title"><a href="#">Dowed electric mot</a></h6>
                    <p>
                      <i class="fal fa-map-marker-alt"></i>Louis,Missouri,US
                    </p>
                    <div
                      class="price-rating d-flex align-items-center justify-content-between"
                    >
                      <span class="price">$13.00</span>
                      <ul class="rating">
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                        <li><i class="fal fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-ads mt-30">
                <a href="#"
                  ><img src="assets/images/sidebar-ads.jpg" alt="sidebar"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== ADS DETAILS PART ENDS ======--><!--====== ADS PART START ======-->
    <section class="ads-area pt-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-title text-center pb-10">
              <h5 class="sub-title">Classified ads</h5>
              <h2 class="main-title">Our Related Ads</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="single-ads-product ads-product-5 mt-30">
              <div class="product-image">
                <img src="assets/images/ads-13.png" alt="ads" />
                <p class="stacker">Discount 30%</p>
              </div>
              <div class="product-content">
                <h6 class="sub-title">Electronics</h6>
                <h4 class="main-title"><a href="#">Samsung Galaxy S5.</a></h4>
                <p class="location">
                  <i class="far fa-map-marker-alt"></i>Louis,Missouri,US
                </p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-ads-product ads-product-5 mt-30">
              <div class="product-image">
                <img src="assets/images/ads-14.png" alt="ads" />
              </div>
              <div class="product-content">
                <h6 class="sub-title">Watch</h6>
                <h4 class="main-title"><a href="#">New Galaxy Watch.</a></h4>
                <p class="location">
                  <i class="far fa-map-marker-alt"></i>Louis,Missouri,US
                </p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-ads-product ads-product-5 mt-30">
              <div class="product-image">
                <img src="assets/images/ads-15.png" alt="ads" />
                <p class="stacker">Discount 30%</p>
              </div>
              <div class="product-content">
                <h6 class="sub-title">Fashion Style</h6>
                <h4 class="main-title">
                  <a href="#">Fashion Modeling College.</a>
                </h4>
                <p class="location">
                  <i class="far fa-map-marker-alt"></i>Louis,Missouri,US
                </p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-ads-product ads-product-5 mt-30">
              <div class="product-image">
                <img src="assets/images/ads-16.png" alt="ads" />
              </div>
              <div class="product-content">
                <h6 class="sub-title">Electronics</h6>
                <h4 class="main-title"><a href="#">WF-H800 Headphones</a></h4>
                <p class="location">
                  <i class="far fa-map-marker-alt"></i>Louis,Missouri,US
                </p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== ADS PART ENDS ======--><!--====== BRAND PART START ======-->
    <section class="brand-area pt-90 pb-120">
      <div class="container">
        <div class="brand-wrapper-2 d-flex flex-wrap justify-content-center">
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-1.png" alt="brand" />
              <h6 class="title">Movie Star</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-2.png" alt="brand" />
              <h6 class="title">Dropbox</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-3.png" alt="brand" />
              <h6 class="title">Evexa.ev</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-4.png" alt="brand" />
              <h6 class="title">Abit hub</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-5.png" alt="brand" />
              <h6 class="title">Wdgreen</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-6.png" alt="brand" />
              <h6 class="title">Sketch</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-7.png" alt="brand" />
              <h6 class="title">Dribbble</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-8.png" alt="brand" />
              <h6 class="title">Behance</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-9.png" alt="brand" />
              <h6 class="title">24Webpro</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-10.png" alt="brand" />
              <h6 class="title">Rinbuild ri</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-11.png" alt="brand" />
              <h6 class="title">Flyingle</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-12.png" alt="brand" />
              <h6 class="title">Jusqua</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-13.png" alt="brand" />
              <h6 class="title">99Design</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-14.png" alt="brand" />
              <h6 class="title">Satadata</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-15.png" alt="brand" />
              <h6 class="title">Taranam</h6>
            </div>
          </div>
          <div class="brand-col-2">
            <div class="single-brand-2">
              <img src="assets/images/brand/brand-16.png" alt="brand" />
              <h6 class="title">Weekin</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== BRAND PART ENDS ======--><!--====== FOOTER PART START ======-->
    <footer class="footer-area">
      <div class="footer-top pt-20 pb-50">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="row">
                <div class="col-6">
                  <div class="single-visitor mt-25">
                    <span>25,329,532</span>
                    <p>Our Unique visitor</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="single-visitor mt-25">
                    <span>25,329,53253825</span>
                    <p>Our Total visitor</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div
                class="footer-follow d-flex align-items-center justify-content-center mt-25"
              >
                <h5 class="title">Follow Us</h5>
                <ul class="social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget pt-20 pb-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="footer-about mt-50">
                <a href="#"
                  ><img src="assets/images/logo-2.png" alt="Logo"
                /></a>
                <p>
                  There are many variations of assages of Lorem Ipsum
                  available,but the rity have suffered alteration in some frm,by
                  injected humour.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-link mt-45">
                <h4 class="footer-title">About Us</h4>
                <div class="link-wrapper d-flex flex-wrap">
                  <div class="link">
                    <ul>
                      <li><a href="#">Our Product</a></li>
                      <li><a href="#">Documentation</a></li>
                      <li><a href="#">Our Services</a></li>
                      <li><a href="#">Apps Download</a></li>
                    </ul>
                  </div>
                  <div class="link">
                    <ul>
                      <li><a href="#">Get Started Us</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Needs Helps?</a></li>
                      <li><a href="#">Join With Us</a></li>
                      <li><a href="#">Ask Question</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-4">
              <div class="footer-link mt-45">
                <h4 class="footer-title">Quick Links</h4>
                <ul class="link">
                  <li><a href="#">Marketplace</a></li>
                  <li><a href="#">Documentation</a></li>
                  <li><a href="#">Customers</a></li>
                  <li><a href="#">Carrers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-8">
              <div class="footer-contact mt-45">
                <h4 class="footer-title">Communication</h4>
                <div class="single-contact d-flex align-items-center mt-25">
                  <div class="contact-icon"><i class="fal fa-phone"></i></div>
                  <div class="contact-content media-body">
                    <p>Call Us <br />+017 123 456 78</p>
                  </div>
                </div>
                <div class="single-contact d-flex align-items-center mt-25">
                  <div class="contact-icon">
                    <i class="fal fa-envelope-open-text"></i>
                  </div>
                  <div class="contact-content media-body">
                    <p>Send Message <br />seylon111@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright-text pt-15 pb-30">
        <div class="container">
          <div
            class="footer-copyright-text-wrapper text-center d-md-flex align-items-center justify-content-between"
          >
            <div class="footer-copyright mt-15">
              <p>
                Copywright by
                <a href="http://www.bootstrapmb.com">@24webpro</a>.All Rights
                Reserved
              </p>
            </div>
            <div class="footer-text mt-15">
              <ul class="link">
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--====== FOOTER PART ENDS ======--><!--====== GO TO TOP PART START ======-->
    <div class="go-top-area">
      <div class="go-top-wrap">
        <div class="go-top-btn-wrap">
          <div class="go-top go-top-btn">
            <i class="fal fa-angle-double-up"></i
            ><i class="fal fa-angle-double-up"></i>
          </div>
        </div>
      </div>
    </div>
    <!--====== GO TO TOP PART ENDS ======--><!--====== PART START ======--><!-- <section class=""><div class="container"><div class="row"><div class="col-lg-"></div></div></div></section>--><!--====== PART ENDS ======--><!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== Ajax Contact js ======-->
    <script src="assets/js/ajax-contact.js"></script>
    <!--====== Validator js ======-->
    <script src="assets/js/validator.min.js"></script>
    <!--====== Wow js ======-->
    <script src="assets/js/wow.min.js"></script>
    <!--====== Menu Horizontal js ======-->
    <script src="assets/js/menu_horizontal.js"></script>
    <!--====== Nice Select js ======-->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!--====== Jquery ui js ======-->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
    <!--====== Google Map js ======-->
    <script src="http://www.google.cn/maps/api/js?key=AIzaSyBQ5y0EF8dE6qwc03FcbXHJfXr4vEa7z54"></script>
    <script src="assets/js/map-script.js"></script>
  </body>
</html>
